PORT=8000
STAGE=PRODUCTION
IS_DEBUG=true
SERVICE_HOST=localhost:8000

DB_HOST=localhost
DB_PORT=3309
DB_NAME=example
DB_USER=root
DB_PASS=123
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=40
DB_TX_RETRY_COUNT=1
DB_MIGRATION_PATH=file://./migration

TOKEN_SECRET_KEY=this_is_my_secret_key
ACCESS_TOKEN_DURATION=900
REFRESH_TOKEN_DURATION=100000

SENTRY_DSN=
HEALTH_CHECK_ENDPOINT=

CHECK_INSUFFICIENT_CREDITS_ENDPOINT=http://localhost:8000/api/register/tracing/insufficient-credits

AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

S3_KEY_UUID=
S3_BUCKET_NAME=
S3_ENDPOINT=
S3_SITE_URL=
S3_DEFAULT_DIR=

DB_TEST_HOST=localhost
DB_TEST_PORT=3331
DB_TEST_NAME=teq_test
DB_TEST_USERNAME=root
DB_TEST_PASSWORD=123
DB_TEST_MIGRATION_PATH=file://./migration

REDIS_PORT=6379
REDIS_TEST_PORT=6378